body{
    background-color: rgba(128, 0, 117, 0.164);
    text-align: center;
    
    
}
header{
    font-style: italic;
    text-align: center;
}

.small_image{
    width: 350px;
    height: auto;
}
p{
    text-align: center;
}
.text1{
    font-style:oblique;
    text-decoration:dotted blueviolet;
    padding-right: 20%;
    padding-left: 20%;
}
h2{
    background-color: rgb(124, 19, 110);
    padding: 0.2%;
    margin-right: 500px;
    margin-left: 500px;
    font: italic;
}
ul{
    list-style-position: inside;
}
li[
    
]
